.styled-table {
	font-weight: 500;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px;
}

.sub-heading{
	font-size: 140%;
}

.list-grid-view{
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border: 0.5px solid #dddddd;
	width: 8%;
	border-radius: 10px;
}

.styled-table thead tr {
    text-align: left;
    border-radius: 10px;
}

.subtable-header{
	border-bottom: thin solid #dddddd;
}

.serial-no{
	width: 5%;
}

.col2{
	width: 40%;
}

.col3,
.col4{
	width: 7%;
}

.col5{
	width: 15%;
}

.col-2{
	width: 45%;
}

.col-3,
.col-4{
	width: 20%;
}

.styled-table .main-header th{
	padding-top: 15px;
	padding-bottom: 15px;
}

.styled-table .addnew-header th{
	padding-top: 10px;
	padding-bottom: 10px;
}

.styled-table td {
    padding-top: 5px;
	padding-bottom: 5px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}